<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:helenarichie@pitt.edu"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/helenarichie"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="ADS" target="_blank" href="https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0001-6325-9317&sort=date+desc"><i class="icon fa fa-book" aria-hidden="true"></i></a>
        <a aria-label="STEPUP Homepage" target="_blank" href="http://www.pitt.edu/~stepup/index.html"><i class="icon fa fa-wpexplorer" aria-hidden="true"></i></a>
        <a aria-label="My CV" target="_blank" href="images/CV.pdf"><i class="icon fa fa-vcard" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
